sp_data/*bin
sp_data/*txt
*fasta
.idea
.idea*
sp_data/experiments*
sp_data/models*
sp_data/*fasta
sp_data/sp5_outputs/*
sp_data/results/*
*.bin
*.log
*.pth
sp_data/*.pth
sp_data/experiments_sp6tuning/
sp6_data/__pycache__/
__pycache__/

